a:hover {
  text-decoration: none;
}

body {
  background: url('https://abs.twimg.com/images/themes/theme1/bg.png');
  background-repeat: no-repeat;
  background-color: #C0DEED;

}

.row div {
  background-color: white;
}

.navbar-inverse {
  background-image: linear-gradient(to bottom,white 0,white 100%);
  border-color: white;
  -webkit-box-shadow: -4px 3px 5px 0px rgba(194,194,194,1);
-moz-box-shadow: -4px 3px 5px 0px rgba(194,194,194,1);
box-shadow: -4px 3px 5px 0px rgba(194,194,194,1);

}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: black;
}

#splash {
  height: 1200px;
  background: url('/img/1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

#splash h1 {
  font-size: 10em;
  text-align: center;
  padding-top: 175px;
    color: white;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);

}

#splash h2 {
  text-align: center;
}

.logout {
  float:right;
  margin-top: 7.5px;
}

.navbar {
  margin-bottom: 20px;
}

.twitter-content {
  margin-top: 5%;
}

.left_column {
  overflow: scroll;
  overflow-x: hidden;
  position: fixed;
  width: 16.5%;
  height: 70%;
  margin: 0 2% 0 4%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.middle_column {
  margin: 0 0 5% 24.5%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.right_column {
  overflow: scroll;
  overflow-x: hidden;
  position: fixed;
  margin-left: 80%;
  height: 500px;
  width: 18%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.tweet {
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 2%;
}

.tweet:hover {
  border-color: #428bca;

  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.tweet_bottom p a {
  color: gray;
  display: block;
  float: right;
  margin: 0 20px;
}

.tweet_bottom:hover a {
  color: #428bca;
}

.tweet-submit {
  display: block;
  float: right;
  margin-top: 2%;
  margin-right: 2%;
  font-size: 1.5em;
  font-weight: 100;
  color: #428bca;
  border: 1px solid #428bca;
  background-color: white;
  border-radius: 5px;
}

.tweet-submit:hover {
  background-color: #428bca;
  color: white;

  -webkit-transition: background-color ease-out 0.4s;
  -moz-transition: background-color ease-out 0.4s;
  -o-transition: background-color ease-out 0.4s;
  transition: background-color ease-out 0.4s;
}

.compose {
  width: 96%;
  margin: 0 auto;
}

.countdown {
  color: #ccc;
  z-index: 2;
  display: block;
  float: right;
  margin-right: 3.5%;
  margin-top: -3.5%;
}
.username {
  margin-top: 0;
}
.reply {
  display: block;
  float: right;
  margin-top: -3.5%;
  z-index: 2;
}

.hashtag {
  padding: 0;
  margin: 0;
}

.top_of_page {
  text-align: center;
}

.followers {
  font-weight: 100;
  text-align: center;
  font-size: 2em;
  margin-right: 10%;
  padding: 1%;
  border: 1px solid #428bca;
  border-radius: 10px;
}

.following {
  font-weight: 100;
  text-align: center;
  font-size: 2em;
  padding: 1%;
  border: 1px solid #428bca;
  border-radius: 10px;
}

.following:hover, .followers:hover {
  background-color: #428bca;
  color: white;

  -webkit-transition: background-color ease-out 0.4s;
  -moz-transition: background-color ease-out 0.4s;
  -o-transition: background-color ease-out 0.4s;
  transition: background-color ease-out 0.4s;
}

.user_tile {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin:2%;
}

.follow-buttons {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5%;
}

body > div.row.twitter-content > div.col-md-3.col-sm-3.left_column > form > span {
  color: #ccc;
  z-index: 2;
  display: block;
  float: right;
  margin-right: 6.5%;
  margin-top: -9.5%;
}
