<h3>Reply</h3>
<form action="/tweets/reply" method="POST">
  <input type="hidden" name="tweet[id]" value="<%= @original_id %>" />
  <input type="hidden" name="reply[original_id]" value="<%= @original_id %>" />
  <input type="hidden" name="reply[user_id]" value="<%= session[:user_id] %>" />
  <textarea name="reply[text]" class="form-control compose message" rows="3"  maxlength="140">@<%= @participants %></textarea>
  <span class="countdown"></span>
  <button type="submit" class="tweet-submit">Submit</button>
</form>