<h3>Compose Tweet</h3>
<form action="/tweets/new" method="POST">
  <textarea name="text" class="form-control compose message" rows="3" maxlength="140"></textarea>
  <span class="countdown"></span>
  <button type="submit" class="tweet-submit">Submit</button>
</form>
<br>