<h3>Reply</h3>
<form action="/tweets/reply" method="POST">
  <textarea name="text" class="form-control compose" rows="3"><%= @participants %></textarea>
  <button type="submit" class="btn btn-success tweet-submit">Submit</button>
</form>