<h3>Compose Tweet</h3>
<form action="/tweets/new" method="POST">
  <textarea name="text" class="form-control compose" rows="3" maxlength="140"></textarea>
  <button type="submit" class="btn btn-success tweet-submit">Submit</button>
</form>