<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header twitter">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-cloud" style="color:#428bca;font-size:1.4em"></span>
</a>
    </div>
    <div class="navbar-collapse collapse">
    <% if session[:user_id] == nil %>
      <form class="navbar-form navbar-right" role="form" action='/auth' method='POST'>
        <div class="form-group">
          <input type="text" name="username" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    <% else %>
      <a href="/logout"><button type="submit" class="btn btn-success logout">Log out @<%= User.find(session[:user_id]).username%></button></a>
    <% end %>
    </div><!--/.navbar-collapse -->
  </div>
</div>
