<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header twitter">
      <% if logged_in? %>
        <div class="icons">
        <a class="navbar-brand" href="/"><i class="fa fa-home" style="font-size: 1.2em; margin-top:-3px;"></i> Home</a>
        <a class="navbar-brand" href="/"><i class="fa fa-bell" style="font-size: 1.1em; margin-top:-3px;"></i> Notifications</a>
        <a class="navbar-brand" href="/"><i class="fa fa-envelope" style="font-size: 1.1em; margin-top:-3px;"></i> Messages</a>
        <a class="navbar-brand" href="/"><i class="fa fa-group" style="font-size: 1.1em; margin-top:-3px;"></i> Discover</a>
        <p class="fa fa-twitter" style="position:fixed; font-size: 1.8em; color:#55ACEE; right:50%; top:13px;"></p>
        </div>
      <% else %>
        <a href="/"><i class="fa fa-twitter" style="font-size: 1.8em; color:#00ACED; padding-top:13px;"></i></a>
      <% end %>
    </div>
    <div class="navbar-collapse collapse">
      <% if session[:user_id] == nil %>
      <form class="navbar-form navbar-right" role="form" action='/auth' method='POST'>
        <div class="form-group">
          <input type="text" name="username" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
      <% else %>
      <a href="/logout"><button type="submit" class="btn btn-success logout">Log out @<%= User.find(session[:user_id]).username%></button></a>
      <% end %>
    </div><!--/.navbar-collapse -->
  </div>
</div>
