<hr>
<h4>Popular Users:</h4>
<% popular = User.all.sort {|user1, user2| user2.followers.count <=> user1.followers.count} %>
<% popular.each do |person| %>
  <% if person.followers.count > 2%>
  <div class="person">
    <p><a href="/<%=person.username%>">@<%=person.username%></a>: <%=person.followers.count%> followers</p>
  </div>
  <% end %>
<% end %>
