<% @tweet_cloud.uniq.each do |hashtag|%>
<p class="hashtag" style="font-size: <%= @tweet_cloud.select {|x| x == hashtag}.count %>em"><a href="/hashtags/<%= hashtag %>"><%= hashtag %></a></p>
<% end %>