<div class="container">
  <h1>Welcome to URL Shortener!</h1>
  <br>
  <h3>Enter your URL here to Shorten!</h3>
  <form action='/urls/new' method='POST'>
    <input ROWS=8 COLS=30 type="text" name="url[url]" value="paste your url here"><br><br>
    <input type="submit" value="submit"/>
  </form>
  <br>
  <h3>Log in</h3>
  <form action='/auth' method='POST'>
    Username: <input type="text" name="username"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type="submit" value="Log in or Sign up">
  </form>
</div>
