<div id="splash">
	<div class="animated fadeIn">
		<h1>Welcome to Twitter</h1>
		<h2 style="color:white;">Better than I was the last time</h2>
	</div>
	<footer>
		<a href="">About</a>
		<a href="">Help</a>
		<a href="">Blog</a>
		<a href="">Status</a>
		<a href="">Job</a>
		<a href="">Terms</a>
		<a href="">Privacy</a>
		<a href="">Advertise</a>
		<p>© 2014 Twitter</p>
	</footer>
</div>
